#home {
	background: url(/static/images/header_bg.jpg) center center;
	height: 200px;
	border-bottom: 1px solid #2b2b2b;

	h1 {
		color: #fff;
		margin-top: 18px;
	}
}

#footer {
	background: url(/static/images/footer_bg.jpg) center center;
	height: 240px;
	color: #fff;
	margin-top: 80px;
	text-align: center;

	.phone {
		font-family: 'OstrichSansMedium', sans-serif;
		margin-top: 20px;
		display: block;
		font-size: 2em;
	}
}

blockquote {
	text-align: center;
	font-family: "OstrichSansMedium", sans-serif;
	font-size: 2.8em;
	margin:0 0 0.3em;
	padding: 0;
	border: none;

	.cite {
		font-size: 0.5em;
	}
}

.nail_icon {
	text-align: center;
}

.icon {
	display:inline-block;
	width: 46px;
	height: 46px;
	overflow: hidden;
	text-indent: 100%;
	margin: 0 20px;

	&.facebook {
		background: url(/static/images/icon-facebook.png);
	}
	&.instagram {
		background: url(/static/images/icon-instagram.png);
	}
	&.email {
		background: url(/static/images/icon-email.png)
	}
}

#gallery {
	margin-bottom: 20px;
	ul {
		margin-top: 0;
	}
}

.separator {
	background: url(/static/images/separator.png) no-repeat center center;
	height: 38px;
}

.section {
	padding-top: 48px;
	padding-bottom: 18px;
}

#prices {
	ul {
		background: #111;
		margin: 0;
		padding: 0 20px;
		border: 1px solid #000;
		box-shadow: 0 2px 1px rgba(0,0,0,0.3);
		border-radius: 2px;
		color: #fff;
	}
	li {
		list-style: none;
		border-bottom: 1px dotted #444;
		padding: 15px 0;
	}

	li:last-child {
		border-bottom: none;
	}
	h4 {
		margin: 0;
		padding: 0.5em 0.3em;
		color: #fff;
		text-align: center;
	}
	.price {
		float: right;
		font-family: 'georgia', serif;
		font-weight: bold;

		.small {
			font-size: 0.7em;
		}
	}
	.sub-step {
		margin-left: 30px;
	}
}

.green {
	strong {
		color: #39b54a
	}
}
.yellow {
	color: #cfcd03;
}
.orange {
	strong {
		color: #f26522;
	}
}
.purple {
	color: #605ca8;
}
.teal {
	strong {
		color: #00a99d;
	}
}
.pink {
	strong {
		color: #ec008c;
	}
}

@media only screen and (max-width: 768px) {
	#home {
		height: 120px;
		background-position: -130px -45px;
	}
}

.top-bar .toggle-topbar.menu-icon {
	margin-top: -19px;
}



.sticky-top-bar.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

.top-bar .toggle-topbar.menu-icon a span {
	right: 8px;
}











